<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>表的Header.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C383ACE1D587D66007553AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C383AE71D587D66007553AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C383AF21D587D66007553AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
